doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Page
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp")
    body 
        .container
            aside 
                .toggle  
                    .logo 
                        img(src="./images/logo.png", alt="", srcset="")
                        h1 VLM 
                            span STORE
                    .close(id="close-btn")
                            span.material-icons-sharp close
                    
                .sidebar 
                    a(href="#")
                        span.material-icons-sharp dashboard
                        h3 Dashboard
                    a(href="#")
                        span.material-icons-sharp person_outline
                        h3 Customers 
                    a(href="#" class="dropdown")
                        span.material-icons-sharp star_rate
                        h3 Products 
                    a(href="#")
                        span.material-icons-sharp insights 
                        h3 Analytics
                    a(href="#")
                        span.material-icons-sharp report
                        h3 Sales Report
                    a(href="#")
                        span.material-icons-sharp add 
                        h3 Add Staff
                    a(href="#")
                        span.material-icons-sharp logout
                        h3 Logout
            //- end of sidebar section
            main 
                .right-section  
                    .nav 
                        button.btn-menu(id="menu-btn")
                            span.material-icons-sharp menu_open
                        .profile 
                            .info 
                                p Hi, 
                                    b Hoang Viet 
                                small(class="text-muted") Admin
                            .profile-photo 
                                img(src="./images/user1.jpg", alt="", srcset="")
                        
                .breadcrumb-list
                    a(href="#")
                        span.material-icons-sharp home
                    ul.breadcrumb
                        li
                            a(href="#")  DashBoard
                        li 
                .analyse  
                    .sales 
                        .status     
                            .info 
                                h3 Total Sales
                                span ------
                                h2  13.500$
                            .progresss 
                                svg
                                    circle(cx="38" cy="38" r="36")
                                .percentage 
                                    p +81%
                    .products
                        .status     
                            .info 
                                h3 Products Sold
                                span ------
                                h2 2200 Items
                            .progresss 
                                svg
                                    circle(cx="38" cy="38" r="36")
                                .percentage 
                                    p +10%
                    .visits 
                        .status     
                            .info 
                                h3 Site Visit
                                span ------
                                h2 3500 Views
                            .progresss 
                                svg
                                    circle(cx="38" cy="38" r="36")
                                .percentage 
                                    p +36%
                .new-users  
                    h2 New Customers
                    .user-list 
                        .user 
                            
                                img(src="images/user1.jpg", alt="", srcset="")
                                h3 Son
                                p 54 mins ago 
                        .user
                            
                                img(src="images/user2.jpg", alt="", srcset="")
                                h3 Sterling
                                p 2 hours ago 
                        .user 
                            
                                img(src="images/user3.jpg", alt="", srcset="")
                                h3 Foden
                                p 1 hours ago
                        .user 
                            
                                img(src="images/user4.jpg", alt="", srcset="")
                                h3 Ramos
                                p 3 weeks ago
                        .user 
                            
                                span.material-icons-sharp more_horiz 
                                h3 More 
                                p Customers
                .recent-order
                    h2 Recent Orders 
                    table 
                        thead   
                            tr 
                                th CusName
                                th PhoneNum
                                th Address 
                                th Day 
                                th Time
                                th PayStatus
                                th ProdName
                                th Quantity
                                th Status
                            tbody 
                    a(href="#") Show All Orders                    
        script(src="./js/order.js")
        script(src="./js/index.js") 