doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Products
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp")
    body 
        .container-staff
            //-sidebar section
            aside 
                .toggle  
                    .logo 
                        img(src="./assets/logo.png", alt="", srcset="")
                        h1 VLM 
                            span STORE
                    .close(id="close-btn")
                            span.material-icons-sharp close
                .sidebar 
                    a(href="#")
                        span.material-icons-sharp dashboard
                        h3 Dashboard
                    a(href="#")
                        span.material-icons-sharp person_outline
                        h3 Customers Management
                    a(href="#" class="dropdown")
                        span.material-icons-sharp star_rate
                        h3 Products 
                    a(href="#")
                        span.material-icons-sharp insights 
                        h3 Analytics
                    a(href="#")
                        span.material-icons-sharp payments 
                        h3 Payment
                    a(href="#")
                        span.material-icons-sharp logout
                        h3 Logout
            //- end of sidebar section

            main    
                .breadcrumb-list
                    i
                        span.material-icons-sharp home
                    ul.breadcrumb
                        li
                            a(href="#")  DashBoard
                        li
                            a(href="#")  Products
                    
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
                .product-card
                    .card-heart
                        i 
                            span.material-icons-sharp favorite
                    .card-img 
                        img(src="./assets/product1.png", alt="", srcset="")
                    .card-tittle YEEZY 700 V3
                    .card-price $740
                    .card-category Sneakers
                    .card-discription Sport Sneaker for men
                    .card-action 
                        button.hidden Edit
        
            .right-section-staff 
                .nav 
                    .profile 
                        .info 
                            p Hi, 
                                b Hoang Viet
                            small(class="text-muted") Staff
                        .profile-photo 
                            img(src="./assets/user3.jpg", alt="", srcset="") 


       

            
        


                
                
                                
                                
                