doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  link(type='text/css' href='/style/styles.css' rel='stylesheet')
.wrapper
  form(action='/signup')
    h1
      | Signup
    .input-box
      input(type='email' placeholder='Email' required='')
      i.bx.bxs-envelope
    .input-box
      input(type='text' placeholder='Username' required='')
      i.bx.bxs-user
    .input-box
      input(type='password' placeholder='Password' required='')
      i.bx.bxs-lock-alt
    button.btn(type='submit') Signup
