doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
  link(type='text/css', href='/style/styles.css', rel='stylesheet')
.wrapper
  form(action='/users/register', method='post')
    h1
      | Create Account For Employee
    .form-group
      .input-box
        input(type='email', id='email', name='email', placeholder='Enter your email', required)
        i.bx.bxs-envelope
    button.btn(type='submit') Create
